/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.responsive{
  width: 100%;
  height: auto;
}

.text-sale{
  font-family: sans-serif;
  position: absolute;
  top: 35%;
  padding-left: 37%;
}

.button1{
  text-align: center;
  position: absolute;
  top: 45%;
  padding-left: 43%;
}

/* Giấu text và button cho điện thoại */
@media(max-width: 576px){
  .responsive{
      max-width: 400px;
  }
  .button1{
      display: none;
  }
  .hide1{
      display: none;
  }
}

/* Giấu text và button cho ipad */
@media(max-width: 992px){
  .button1{
      display: none;
  }
  .hide1{
      display: none;
  }
}

.about{
  width: 745px;
  height: 526px;
}

.buttonrm{
  margin-left: 40%;
}

@media (max-width: 576px){
  .about{
      max-width: 100%;
  }
  .buttonrm{
      margin-left: 35%;
  }
}

.icon-tree{
  margin-left: 16%;
}

.icon-cookie{
  margin-left: 20%;
}

.icon-gift{
  margin-left: 16%;
}

.buttonATC{
  display: block;
  margin: auto;
}
/* login */
.forgotpassword{
  margin-left: 52%;
}

@media screen and (max-width: 576px) {
  .forgotpassword {
      display: inline-block;
      padding-left: 22%;
  }
}


@media (max-width:992px) {
  .forgotpassword{
      margin-left: 43%;
  }
}

/* allproducts */
.imgallproducts{
  width: 400px;
  height: 300px;
  object-fit: cover;
  background-color: aquamarine;
}

.buttonAdd{
  display: block;
  margin-block-start: 30%;
  margin-left: 46%;
  align-items: center;
  justify-content: center;
}